{% extends 'hod_template/base_template2.html' %}
{% block page_title %}
Edit Staff  | Username : {{ staff.admin.username }} |  #ID : {{ staff.admin.id }}
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Edit Staff</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action="/edit_faculty_save" method="post">
                  {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    <label>Email address</label>
                    <input type="email" class="form-control" name="email" placeholder="Enter email" value="{{ faculty.admin.email }}">
                  </div>
                   <div class="form-group">
                    <label>First Name</label>
                    <input type="text" class="form-control" placeholder="First Name" name="first_name" value="{{ faculty.admin.first_name }}">
                  </div>
                   <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control" placeholder="Last Name" name="last_name" value="{{ faculty.admin.last_name }}">
                    <input type="hidden" name="faculty_id" value="{{ faculty.admin.id }}">
                  </div>
                   <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" placeholder="Username" name="username" value="{{ faculty.admin.username }}">
                  </div>
                      </div>
                        <div class="fprm-group">
                            {% if messages %}
                              {% for message in messages %}
                              {% if message.tags == 'success' %}
                              <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                              {% endif %}
                              {% if message.tags == 'error' %}
                              <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                              {% endif %}
                              {% endfor %}
                            {% endif %}
                            <!-- /.col -->

                          </div>

                  </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn-block">Save Staff</button>
                </div>
              </form>
            </div>
            <!-- /.card -->



          </div>
          </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}